{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Mauris dictum sapien nisi, ut iaculis mi fermentum a. Nullam mi lacus,
  venenatis eu mauris vitae, condimentum laoreet lorem. Pellentesque aliquam mollis
  libero at tincidunt. In ut fermentum sapien, sit amet maximus sem. Nam eros enim, 
  ultrices sed enim at, interdum ullamcorper felis. Aenean id ex vitae est volutpat hendrerit.
  Curabitur tincidunt, nibh et blandit vehicula, diam elit condimentum orci, vel accumsan tortor
  leo et lorem. Sed quis laoreet est, in dignissim libero. Mauris pulvinar sem lorem,
  non ullamcorper ipsum molestie vitae. </p>
{{end}}

